  <div class="container">
        <div class="row mt-3 bg-light">
            <h3 class="text-center">
                Les postes recherchés
            </h3>

            {% for job in jobs %}
                {% if app.user == job.auteur %}

                    <div class="col-6 col-md-4 mb-2 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" style="color:blueviolet;">Poste : {{job.titre}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted" style="font-style: italic; font-weight:bold;">Catégorie : {{ job.categorie }}</h6>
                                <p class="card-text">
                                    Description : {{ job.description}}
                                </p>

                                <div class="row">
                                
                                    <form method="post" action="{{path('jobsDelete', {'id': job.id})}}" onsubmit="return confirm('Etes-vous sûr de supprimer cet élément?');">
                                        <a href="{{path('jobsEdit', {'id': job.id})}}" class="btn btn-primary">Modifier</a>
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                    
                                </div>
            
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

        </div>
</div>